footer{
    color: black;
    background-color: black;
}

.foot {
    color: white;
    text-align: center;
    font-size: large;
}

header{
    background-color: rgba(150, 75, 0, 0.8);
    width: 100%;
    position: fixed;
}

.logo {
    border: 50px;
    margin: 1px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: auto;
}

.nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    border: 30px;
    margin: 12px;
    gap: 30px;
    background-color: white;
    padding: 12px;
    text-align: center;
}

a{
    transition: background-color .7s ease, color .5s ease
}

a:hover{
    background-color:brown;
    color: white;
}

#view{
    background-image: url(view.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
}
#view2{
    background-color: beige;

}
#view3{
    background-color: tomato;
}
#view4{
    background-color: darkslateblue;
}
#view5{
    background-color:khaki;
}
#view6{
    background-color: goldenrod;
}
#view7{
    background-color:lightcoral;
}
#view8{
    background-color:forestgreen;
}

.imgS1{
    display: flex;
    align-items: center;
    gap: 25px;
}
.imgS2{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: row-reverse;
}

.image{
    object-fit: contain;
    width: 600px;
    margin: 50px;
}

.text-contain{
    flex: 1;
    font-size:x-large;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.center{
    text-align: center;
    align-items: center;
    align-content: center;
}

.center-table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}